header{
    background-color: rgb(235, 97, 97);
   }
   body{
    background-color: rgb(120, 120, 123);
   }
   footer{
   
    background-color: rgb(235, 97, 97);
   }
   .logo{
       width: 8%;
       border-radius: 10px;
       transition: 5s;
   }
   .logo:hover{
       width: 10%;
       border-radius: 20%;
       transition: 3s;
   }
   nav{
       margin-top: 1rem;
       position:absolute;
       right: 500px;
       top: 10px;
   }
   
   nav li{
       display: inline;
       margin: 100px;
   }
   nav a{
       text-decoration: none; 
       font-size: 1.5rem;
       color: rgb(2, 2, 2,);
       background:rgb(241, 94, 94);
       transition: 1s;
        
   }
   
   nav a:hover{ 
       color: white; 
       border: solid rgb(254, 254, 254); 
       background: rgb(241, 94, 94); 
   }
   .carousel-item{
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}
